---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% include base_path %}

{% for post in site.people %}
  {% include archive-single.html %}
{% endfor %}

<!--{% assign categories = site.people_category | sort: "order" %}-->

<!-- Define the order of categories manually -->
<!-- {% assign ordered_categories = "faculty,phd,master,under" | split: "," %}

{% for category_name in ordered_categories %}
  {% assign category = site.people_category[category_name] %}
  {% if category %}
    <h2>{{ category.title }}</h2>
    <hr />
    {% for post in site.people %}
      {% if post.category == category_name %}
        {% include archive-single.html %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
-->