---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---
{% include base_path %}

{% assign ordered_categories = "faculty,phd,master,under" | split: "," %}

{% for category_name in ordered_categories %}
  {% case category_name %}
    {% when "faculty" %}
      <h4>Faculty</h4><hr />
    {% when "phd" %}
      <h4>PhD Students</h4><hr />
    {% when "master" %}
      <h4>Masters Students</h4><hr />
    {% when "under" %}
      <h4>Undergraduate Students</h4><hr />
  {% endcase %}

  {% for post in site.people %}
    {% if post.category == category_name %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endfor %}
