---
layout: archive
title: "Featured Science and Tech"
permalink: /stnews/
author_profile: true
---

{% include base_path %}

{% if site.stnews_category %}
  {% for category in site.stnews_category  %}
    {% assign title_shown = false %}
    {% for post in site.stnews reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.stnews reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


